/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #330033;
    background-color: #FFFFFF;
    background-color: #FFFFFF;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='993' height='119.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2335010A' stroke-width='5.9' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
    /*/background-color: #f4f4f4
    //background-color: #ee5522
   
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #B0B0B0 ;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  .bordeado {
    
    border: 0px solid white; /* Establece el borde */
    padding: 5px; /* Agrega un espacio interno alrededor del texto para que el borde sea visible */
    text-align: center;
    color: #D3D3D3;
    
    
    

    
  }
  /* Estilos para el banner */
  .banner {
    
  background-size: contain; /* Esto ajustará la imagen para cubrir toda la ventana */
  background-image: url("img/banner\ de\ valorant.png");
  color: white;
  border: 2px solid black; /* 2px de ancho, estilo sólido, color negro */
  text-align: center;
  padding: 100px 0;
  position: static;
  right: 10px
  
}
  .banner h2 {
    margin-top: 0;
  }
  
  .btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Estilos para el contenido */
  .content {
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para los servicios */
  .services {
    background-color: #747373 ;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #373737;
    color: white;
    text-align: center;
    padding: 10px;
  }
  .contenedor {
    border: 2px solid black;
    padding: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
    }
  
  .fondo {
    position: absolute;
    top: -10px; /* Ajusta la posición vertical de la imagen de fondo */
    left: -10px; /* Ajusta la posición horizontal de la imagen de fondo */
    width: calc(100% + 20px); /* Añade el doble del borde al ancho para cubrir el área fuera del borde */
    height: calc(100% + 20px); /* Añade el doble del borde al alto para cubrir el área fuera del borde */
    background-image: url('img/banner\ de\ valorant.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; /* Coloca el fondo detrás del contenido */
  }
  .video {
    column-count: 1;
    column-gap: 20px;
    border: 2px solid black; /* Establece el borde */
    padding: 10px; /* Agrega un espacio interno alrededor del texto para que el borde sea visible */
    text-align: center;
  }
  .texto-grande{
    font-size: 50px;
  }
  .text-mediano{
    font-size: 25px
  }

  .fondo-lateral {
    background-color: #ccc; /* Color de fondo para el área lateral */
    margin: 0 20px; /* Agrega márgenes a los lados para el efecto */
    padding: 20px; /* Agrega un espacio interno */
  }
  .text-color{
    color: red;
  }
  
  form {
    width: 300px;
    margin: 0 auto; /* Centra el formulario horizontalmente */
  }
  
  label, input, textarea {
    display: block; /* Coloca cada elemento en su propia línea */
    margin-bottom: 10px; /* Agrega espacio entre los elementos */
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  .notificacion {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  a {
    color: #007bff; /* Cambia el color a azul (#007bff) */
    text-decoration: none; /* Elimina la subraya por defecto */
  }
  
  /* Cambiar el color del hipervínculo cuando se pasa el mouse por encima */
  a:hover {
    color: #ff0000; /* Cambia el color a naranja (#ff6600) */
  }